/* certificates.css */
.certificates {
  padding: 2rem;
  /* background-color: #f9f9f9; */
  /* min-height: 100vh; */
}

.certificates h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #00fff7;
}

.certificates-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.certificates-list li {
  /* background: #fff; */
  border-radius: 8px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  text-align: center;
  width: 500px;
  transition: transform 0.2s;
}

.certificates-list li:hover {
  transform: translateY(-5px);
}

.certificates-list img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.certificates-list p {
  padding: 1rem;
  font-weight: 700;
  color: white;
  font-size: 18px;
}

